* {
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;

}

body,
html {
    height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}




.header__text {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.header__text-p {
    padding: 0 106px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

.header__menu-li {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding: 14px 27px;
}

.header__menu-li:hover {
    color: #ccc;
}

.padding-sm {
    padding: 0 64px;
}



.header__menu {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    width: 100%;
}

.header-arrow {
    color: #ffffff;
    font-size: 27px;
    cursor: pointer;
    margin-bottom: 41px;
}

.header__menu-ul {
    display: flex;
}

.block_filter-label {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding-right: 35px;
}

.block_filter-input {
    /* Style for "Rettangolo" */
    width: 25px;
    height: 24px;
    border-radius: 3px;
    border: 2px solid #aa9b77;
    margin-right: 18px;
}

.btn {
    /* Style for "Rettangolo" */
    width: 204px;
    height: 52px;
    display: block;
    border-radius: 3px;
    background-color: #aa9b77;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 52px;
    text-align: center;
}

.btn:hover {
    background: #918363;
}

.block_filter {
    height: 143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block_filter-bkg {


}

.padding-bg {
    padding: 0 96px;
}

.footer-ecommerce {
    height: 72px;
    display: flex;
    align-items: center;

}

.footer-bottom {
    height: 352px;
    display: flex;
    justify-content: space-between;
    align-items: center;
        background-color: #424242;
}

.footer-bottom-bkg {

}

.footer-ecommerce-bkg {

}

.footer-ecommerce-p {
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
}

.footer-twitter {
    color: #424242;
    font-size: 24px;
}

.footer-bottom-left {
    width: 306px;
}

.footer-bottom__left-p {
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    margin-top: 20px;
}

.footer-bottom__right-p {
    font-size: 18px;
    font-weight: 600;
}

.footer {
    color: #fff;
}

.footer-nav-li {
    color: #fff;
}

.footer-nav-li:after {
    content: "|";
    color: #aa9b77;
    padding: 0 5px;
}

.footer-nav-li:last-child:after {
    content: "";
    padding: 0;
}

.footer-nav-a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
}

.footer-nav-a:hover {
    color: #535253;
}

.footer-nav-ul {
    display: flex;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.block_about {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_about-text {
    width: 711px;
    height: 250px;
    border: 2px solid #918363;
}

.block_about-legend {
color: #837659;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
    text-align: center;
    padding: 0 12px
}

.block_about-p {
color: #424242;
font-size: 16px;
font-weight: 600;
line-height: 24px;
    padding-top: 70px;
    width: 469px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
    
}

.section-block_filter {
      background-color: #f5f6f7;  
}

.header {
        height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-pic {
        background: url(img/Livello_1.jpg) no-repeat center;
    background-size: cover;
}

.section-block_about {
        background-color: #aa9b77;
}

.footer-fst {
        background-color: #535253;
}

.footer-last {
    background-color: #424242;
}
