*{
    margin: 0;
    padding: 0;
}
h1{
color: #ffffff;
font-size: 60px;
font-weight: 400;
    
}

body,
html {
    height: 100%;
}

body{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


.header {
        background: url(img/Livello_1.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header__text {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.header__text-p {
    padding: 0 106px;
color: #ffffff;
font-size: 20px;
font-weight: 400;
        letter-spacing: 1px;
}

.header__menu-li {
color: #ffffff;
font-size: 18px;
font-weight: 400;
    padding: 14px 27px;
}
.header__menu-li:hover{
    color: #ccc;
}

.padding-sm {
    padding: 0 64px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
        width: 100%;
}

.header-arrow {
    color: #ffffff;
        font-size: 27px;
}

.header__menu-ul {
    display: flex;
}

.block_filter-label {
color: #333333;
font-size: 18px;
font-weight: 400;
text-transform: uppercase;
    line-height: 18px;
}

.block_filter-input {
    /* Style for "Rettangolo" */
width: 25px;
height: 24px;
border-radius: 3px;
border: 2px solid #aa9b77;
        margin-right: 18px;
}

.btn {
    /* Style for "Rettangolo" */
width: 204px;
height: 52px;
    border: none;
border-radius: 3px;
background-color: #aa9b77;
color: #ffffff;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
}
.btn:hover{
background: #918363;
}

.block_filter {

    height: 143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block_filter-bkg {
    background-color: #f5f6f7;

}

.padding-bg {
    padding: 0 96px;
}
